<div class="lists">
    <h2>Lists</h2>
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <p>In mauris integer etiam aliquet integer duis rhoncus ultricies cras in habitasse ac sociis porttitor
                placerat ac porttitor, in ac. A, tristique dapibus mauris, vut et porta? Enim, porta penatibus, augue
                egestas aliquam eu velit placerat, sociis hac et, pulvinar tincidunt amet ut turpis dapibus. Dolor.
                Lundium rhoncus elementum vel.
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ul>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="input">
                <p>
                    <label for="tc-ul-list-type">{tr}List style type{/tr}:</label>
                    <input id="tc-ul-list-type" class="nocolor" data-selector="ul" data-element="list-style-type" type="text">
                </p>
                <p>
                    <label for="tc-ul-padding">{tr}Padding (ul){/tr}:</label>
                    <input id="tc-ul-padding" class="nocolor" data-selector="ul" data-element="padding" type="text">
                </p>
                <p>
                    <label for="tc-li-padding">{tr}Padding (li){t/r}:</label>
                    <input id="tc-li-padding" class="nocolor" data-selector="li" data-element="padding" type="text">
                </p>
            </div>
        </div>
    </div>
</div>
